@model IEnumerable<Core.Model.Customer>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.ActionLink("Novo", "Create", null, new { @class = "btn btn-primary float-right my-1" })
<table class="table">
    <thead>
        <tr>
            <th>
                ID
            </th>
            <th>
                Nome
            </th>
            <th>
                Telefone
            </th>
            <th>
                Email
            </th>
            <th>
                Opções
            </th>
        </tr>
    </thead>
    <tbody class="table-bordered">
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(m => item.ID)
                </td>
                <td>
                    @Html.DisplayFor(m => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(m => item.TelNumber)
                </td>
                <td>
                    @Html.DisplayFor(m => item.Email)
                </td>

                <td>
                    <button class="btn btn-outline-info edit" onclick="toEdit(value)" value="@item.ID">
                        <i class="fa fa-pencil" aria-hidden="true"></i>
                    </button>
                    <button class="btn btn-outline-danger delete" onclick="toDelete(value)" value="@item.ID">
                        <i class="fa fa-trash" aria-hidden="true"></i>
                    </button>
                </td>
            </tr>
        }
    </tbody>
</table>

@section scripts{
    <script>
        function toEdit(id) {

        }
        function toEdit(id) {

        }
    </script>
}